# Your deployer account's private key
PRIVATE_KEY=

# RPC URLs for the networks
# You can use a free one from Infura, Alchemy, etc.
MAINNET_RPC_URL=
SEPOLIA_RPC_URL=
BASE_RPC_URL=
ARBITRUM_RPC_URL=
OPTIMISM_RPC_URL=
POLYGON_RPC_URL= 